@import 'tailwindcss/base';

@import 'tailwindcss/components';
/* fonts */
@import './fonts';
/* /. */

/* buttons */
@import './buttons';
/* /. */

@import 'tailwindcss/utilities';

.app {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   min-height: 100vh;
   background-color: #ffffff;
}

.hr-line {
   position: absolute;
   left: 50%;
   background: white;
   transform: translate(-50%, -50%);
   top: 0px;
   padding: 0px 20px;
   text-align: center;
   white-space: nowrap;
}
